.Rproj.user
.Rhistory
.RData
.Ruserdata
blogdown/
public/
content/post/a_great_day_in_harlem/*
content/post/covid19_data_science/*
# Ignore everything
#*

# But not these files...
#!public/
# etc...

# ...even if they are in subdirectories
#!*/

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt
#!*/a/b/c/*
