.Rproj.user
.Rhistory
.RData
.Ruserdata
blogdown/
public/
content/post/a_great_day_in_harlem/*
content/post/gpa_breakdown/*
content/post/covid19_data_science/*
content/post/fly_the_w/fly_the_w.R
content/post/fly_the_w/avg_game_time.R
content/blog/a_great_day_in_harlem/*
content/blog/covid19_data_science/*
content/talk/example/
content/blog/*
# Ignore everything
#*

# But not these files...
#!public/
# etc...

# ...even if they are in subdirectories
#!*/

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt
#!*/a/b/c/*
